<div class="card--background">
  <div class="container">
    <header class="header">
      <p class="card--paragraph">Recent Posts</p>
      <p class="view">View all</p>
    </header>
    <div class="grid grid--1x2">
      <div class="card">
        <h3>Making a Design system from scratch</h3>
        <p>12 Feb 2020 &nbsp;|&nbsp; Design, Pattern</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
          quaerat quas, reprehenderit corporis a qui, quae obcaecati rerum,
          officiis debitis dolor eum. Quasi, harum laudantium.
        </p>
      </div>
      <div class="card">
        <h3>Making a Design system from scratch</h3>
        <p>12 Feb 2020 &nbsp;|&nbsp; Design, Pattern</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
          quaerat quas, reprehenderit corporis a qui, quae obcaecati rerum,
          officiis debitis dolor eum. Quasi, harum laudantium.
        </p>
      </div>
    </div>
  </div>
</div>
